services:
  # Web Server (Nginx)
  web:
    image: nginx:alpine 
    container_name: nginx_web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db
    networks:
      - app-network

  # PHP Service
  php:
    build: .
    container_name: php_app
    volumes:
      - ./src:/var/www/html
    networks:
      - app-network

  # Database (MariaDB)
  db:
    image: mariadb:latest
    container_name: mariadb_db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: unimq
      MYSQL_USER: user_app
      MYSQL_PASSWORD: password_app
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # phpMyAdmin
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: pma_admin
    ports:
      - "8082:80"
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=rootpassword
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
