# Server Configuration
PORT=8080
JWT_SECRET=unimq-jwt-secret-very-secure

# Database Configuration (matching docker-compose.yml default services)
DB_HOST=db
DB_USER=user_app
DB_PASS=password_app
DB_NAME=unimq
